  /*
 * Copyright (c) 2020, STMICROELECTRONICS
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		/*
		 * shared memory reserved for the inter-processor communication
		 */
       	zephyr,ipc_shm = &ocram_code;
		zephyr,ipc = &mu0b;
	};
};